@use "colors" as c;
// override anchor tag styles
a {
	text-decoration: none;
	&:any-link {
		&:not(.title, .icon) {
			color: c.$links-color;
		}
		color: white;
		&:hover {
			filter: brightness(.6);
		}
	}
	transition: filter 200ms;
}

// navbar
.navbar {
	.title {
		font-family: Cinzel;
		font-size: 1.5rem;
		padding-block: 1rem;
	}
	padding-inline: 11rem;
	color:#fff;
	backdrop-filter: blur(5px);
	background-color: c.$navbar-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.links {
	display: flex;
	column-gap: 30px;
}
